.venv
.idea

infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/.terraform.tfstate.lock.info
infrastructure/*.tfplan
infrastructure/*.tfvars
infrastructure/crash.log
infrastructure/crash.*.log
infrastructure/override.tf
infrastructure/override.tf.json
infrastructure/*_override.tf
infrastructure/*_override.tf.json
infrastructure/.terraform.lock.hcl
!infrastructure/*.tfvars.example